<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="cordova.js"></script>
  <!--<script src="lib/webcam/dist/webcam.js"></script>-->

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/attachmentCtrl.js"></script>
  <script src="js/directive.js"></script>
  <script src="js/httpservice.js"></script>
  
  <script src="lib/webcam/webcam.min.js"></script>
  
<!--<script src="https://jsconsole.com/js/remote.js?c926fcc4-2345-4d0d-bdc0-e9bf5245d066"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




</head>

<body ng-app="starter" ng-cloak="true">

  <ion-pane>
    <ion-content>
      <div class="main-content" ng-controller="attachmentCtrl as vm">

        <form class="padding" name="attachForm" ng-submit="vm.submit()">
          <div>
            <p class="padding-side section-title">Odoslanie dokumentacie do ASP</p>
            <div>
              <div class="form-group col-sm-4" ng-class="{'has-error' : attachForm.cisloPz.$invalid}">
                <label for="input-01">číslo PZ</label>
                <input type="text" ng-maxlength="10" ng-pattern="/^\d+$/" id="input-01" name="cisloPz" ng-model="vm.pzNumber" class="form-control" ng-required="!vm.npzNumber && !vm.ziadanka">
              </div>
              <div class="form-group col-sm-4" ng-class="{'has-error' : attachForm.cisloNpz.$invalid}">
                <label for="input-02">číslo NPZ</label>
                <input type="text" ng-maxlength="10" ng-pattern="/^\d+$/" name="cisloNpz" ng-model="vm.npzNumber" id="input-02" class="form-control" ng-required="!vm.pzNumber && !vm.ziadanka">
              </div>
              <div class="form-group col-sm-4" ng-class="{'has-error' : attachForm.ziadanka.$invalid}">
                <label for="input-03">číslo žiadanky</label>
                <input type="text" ng-maxlength="12" ng-pattern="/^[A-Z0-9_-]*$/" name="ziadanka" ng-model="vm.ziadanka" id="input-03" class="form-control" ng-required="!vm.pzNumber && !vm.npzNumber">
              </div>
            </div>
          </div>
          <!---->
          <div ng-repeat="form in vm.attachmentsForm" class="fade">

            <p class="padding-side section-title add-form">
              Príloha<a href="#" ng-click="vm.removeForm([form.id])"><span class="ion-close-round"></span></a></p>

            <!--<div class="form-group col-sm-12" ng-if="!vm.isDesktop" ng-class="{'has-error' : fileName[form.id]}">
              <label class="control-label width-100">Názov súboru</label>
              <input type="text" class="form-control file-input" ng-model="fileName[form.id]" ng-disabled="true">
              <span class="icon-set right">
                <i class="icon ion-ios-upload-outline padding-side" ng-click="vm.choosePhoto([form.id])"></i>
                <i class="icon ion-android-camera padding-right" ng-click="vm.takePicture([form.id])"></i>
              </span>
            </div>-->

            <div class="form-group col-sm-12" ng-if="!vm.isDesktop" ng-class="{'is-empty' : attachForm.cameraInput}">
              <label class="control-label width-100">Názov súboru Mobil</label>
              
                <input id="cameraInput" class="visible-input" ng-model="cameraInput"
       onchange="angular.element(this).scope().file_changed(this)" type="file" name="cameraInput" accept="image/*;capture=camera" >
                
            </div>




            <div class="form-group col-sm-12 desktop-file" ng-if="vm.isDesktop" ng-class="{'has-error' : !form.myFile[form.id]}">
              <label class="control-label width-100">Názov súboru Desktop</label>
              <input type="text" name="fileNameInput" class="form-control file-input" ng-model="form.myFile[form.id].name" ng-disabled="true" ng-required="true">
              <span class="icon-set right">
        <label for="file-input{{form.id}}" style="font-size: 25px;" class="black"><i class="icon ion-ios-upload-outline padding-side"></i>
                <input id="file-input{{form.id}}" type="file" class="desktop-input" file-model="form.myFile[form.id]" accept="image/*;capture=camera"></label>
              </span>
              <span class="icon-set right">
        <label for="camera-input{{form.id}}" style="font-size: 25px;" class="black" ng-click="modal.show()"><i class="icon ion-android-camera padding-right"></i>
                
                <input type="file" id="camera-input{{form.id}}" class="desktop-input" ng-change="vm.fileSize(this)" file-model="form.myFile[form.id]" ng-model="desktopFile[form.id]">
              </label></span>
              {{form.myFile[form.id].size}}
            </div>

            <div class="form-group col-sm-4" ng-class="{'has-error' : !form.brand[form.id]}">
              <label class="control-label">Druh</label>
              <select class="form-control" ng-init="vm.init(form.id)" name="brand" ng-model="form.brand[form.id]" ng-options="item.id as item.name for item in vm.brand[form.id]" ng-change="vm.categoriesByIds(form.id)" ng-required="true">
          </select>
            </div>
            <div class="form-group col-sm-4" ng-class="{'has-error' : !form.category[form.id]}">
              <label class="control-label">Kategória</label>
              <select class="form-control" name="category" ng-model="form.category[form.id]" ng-options="item.id as item.name for item in vm.category[form.id]" ng-change="vm.typesByIds([form.id])" ng-required="true">
          </select>
            </div>
            <div class="form-group col-sm-4" ng-class="{'has-error' : !form.type[form.id]}">
              <label class="control-label">Typ</label>
              <select class="form-control" name="type" ng-model="form.type[form.id]" ng-options="item.id as item.name for item in vm.type[form.id]" ng-required="true">
          </select>
            </div>
            <div class="form-group col-sm-12">
              <label class="control-label">Poznámka</label>
              <textarea class="form-control" placeholder="Voliteľná poznámka" rows="3" ng-model="form.note[form.id]"></textarea>
            </div>

          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-amc left margin-left-15" type="button" ng-click="vm.addNewForm()" ng-disabled="vm.attachmentsForm.length > vm.maxAttachments-1">Pridať prílohu
            <span class="ion-plus-round" aria-hidden="true"></span>
          </button>
            <button class="btn btn-primary btn-amc right margin-right-15" type="submit" ng-disabled="attachForm.$invalid"><span class="ion-checkmark-round"></span> Odoslať do ASP
            
          </button>
          </div>
        </form>
</body>

</html>